---
name: Build PR Target

"on":
  pull_request_target:
    branches: [main]
    types:
      - opened
      - edited
      - synchronize

jobs:
  validate-pr-title:
    name: Validate PR title
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR title
        # yamllint disable-line rule:line-length
        uses: amannn/action-semantic-pull-request@0eb081bc9c35210408951834a444794406eff6f8 # tag=v4.2.0 editorconfig-checker-disable-line
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          validateSingleCommit: true
          validateSingleCommitMatchesPrTitle: true
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: >
            The subject "{subject}" found in the pull request title "{title}"
            didn't match the configured pattern. Please ensure that the subject
            doesn't start with an uppercase character.

  label-pr:
    name: Label PR
    runs-on: ubuntu-latest

    steps:
      - name: Label PR
        # yamllint disable-line rule:line-length
        uses: bcoe/conventional-release-labels@576dd16fa48b1cb0464dcf7cc3eafde85ff92254 # tag=v1.3.0 editorconfig-checker-disable-line
        with:
          type_labels: >
            {
              "breaking": "breaking",
              "feat": "feature",
              "perf": "performance",
              "fix": "fix",
              "refactor": "refactor",
              "build": "build",
              "ci": "ci",
              "test": "test",
              "docs": "documentation"
            }

  # TODO: check pr target types
  approve-pr:
    name: Approve PR
    runs-on: ubuntu-latest

    steps:
      - name: Debug actor
        run: echo "Actor is ${{ github.actor }}"

        # yamllint disable-line rule:line-length
      - uses: hmarr/auto-approve-action@24ec4c8cc344fe1cdde70ff37e55ace9e848a1d8 # tag=v2.2.1 editorconfig-checker-disable-line
        if: github.actor == 'akikanellis'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
