---
name: Build PR

"on":
  pull_request:
    branches: [main]
    types:
      - opened
      - synchronize

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  test:
    name: Test
    uses: ./.github/workflows/test.yml

  validate-branch-name:
    name: Validate branch name
    runs-on: ubuntu-latest

    steps:
      - name: Validate branch name
        uses: deepakputhraya/action-branch-name@v1.0.0
        with:
          regex: ^[a-z]+([a-z0-9\.-])+$
