---
name: Build Main
"on":
  push:
    branches: [main]

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false

    - name: Release
      uses: cycjimmy/semantic-release-action@v3.0.0
      # this might be needed
      env:
        GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GITHUB_TOKEN }}

      with:
        semantic_version: 19.0.2
        extra_plugins: |
          "conventional-changelog-conventionalcommits"

#  release:
#    name: Release
#    runs-on: ubuntu-latest
#    needs: test
#    steps:
#      - name: Release
#        uses: release-drafter/release-drafter@v5.19.0
#        with:
#          publish: true
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
