---
name: Build PR Target

"on":
  pull_request_target:
    branches: [main]
    types:
      - opened
      - edited
      - synchronize

jobs:
  validate-pr-title:
    name: Validate PR title
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v4.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          validateSingleCommit: true
          validateSingleCommitMatchesPrTitle: true
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: >
            The subject "{subject}" found in the pull request title "{title}"
            didn't match the configured pattern. Please ensure that the subject
            doesn't start with an uppercase character.

  label-pr:
    name: Label PR
    runs-on: ubuntu-latest

    steps:
      - name: Label PR
        uses: bcoe/conventional-release-labels@v1.3.0
        with:
          type_labels: >
            {
              "breaking": "breaking",
              "feat": "feature",
              "perf": "performance",
              "fix": "fix",
              "refactor": "refactor",
              "build": "build",
              "ci": "ci",
              "test": "test",
              "docs": "documentation"
            }

  approve-pr:
    name: Approve PR
    runs-on: ubuntu-latest

    steps:
      - name: Debug actor
        run: echo "Actor is ${{ github.actor }}"

      - uses: hmarr/auto-approve-action@v2.1.0
        if: github.actor == 'akikanellis'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
