---
name: Lint

"on":
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 0

# TODO: put back in
#      - name: Lint
#        uses: github/super-linter@v4.9.1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          DEFAULT_BRANCH: main
#          IGNORE_GENERATED_FILES: true
#          IGNORE_GITIGNORED_FILES: true
#          YAML_ERROR_ON_WARNING: true
#          VALIDATE_ALL_CODEBASE: false
