---
name: Main
"on":
  push:
    branches: [main]

jobs:
  test:
    uses: ./.github/workflows/test.yml

#  release:
#    runs-on: ubuntu-latest
#    needs: test
#    steps:
#      - name: Release
#        uses: release-drafter/release-drafter@v5.19.0
#        with:
#          publish: true
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
