---
name: Update Dependencies

"on":
  workflow_dispatch:
  schedule:
    - cron: 0/15 * * * *

jobs:
  update-dependencies:
    name: Update dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0

      - name: Update dependencies
        uses: renovatebot/github-action@v32.9.3
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
