---
name: Update Dependencies

"on":
  workflow_dispatch:
  push:
    branches: [main]
  schedule:
    - cron: 0/15 * * * *

jobs:
  update-dependencies:
    name: Update dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # yamllint disable-line rule:line-length
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3.0.0 editorconfig-checker-disable-line

      - name: Update dependencies
        # yamllint disable-line rule:line-length
        uses: renovatebot/github-action@404de99da3774fb94029fb9fb5ac1590eceea645 # tag=v32.11.3 editorconfig-checker-disable-line
        env:
          LOG_LEVEL: debug
        with:
          configurationFile: renovate.json5
          token: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
