---
name: Update Dependencies

"on":
  workflow_dispatch:
#  schedule:
#    - cron: 0/15 * * * *

jobs:
  update-dependencies:
    name: Update dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3.0.0

      - name: Update dependencies
        uses: renovatebot/github-action@c9387ab29c7bb2d7015a0bf58548d8bcd83f3492 # tag=v32.10.4
        env:
          LOG_LEVEL: debug
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
